
ForestDungeonGame/Temp/UnityLockfile
ForestDungeonGame/Library/SourceAssetDB
ForestDungeonGame/Library/ArtifactDB
!/Library/*.asset
/[Ll]ibrary/
/[Tt]emp/
.vs/
/ForestDungeonGame/Library/
!ForestDungeonGame/Library/*.asset
ForestDungeonGame/Temp/UnityTempFile-5219c4b3af789c6468d9594d72537946
