
ForestDungeonGame/Temp/UnityLockfile
ForestDungeonGame/Library/SourceAssetDB
ForestDungeonGame/Library/ArtifactDB
!/Library/*.asset
/[Ll]ibrary/
/[Tt]emp/
.vs/
/ForestDungeonGame/Library/
!ForestDungeonGame/Library/*.asset
